<div class="container">
  <div class="columns is-centered">
    <div class="box is-one-third column">
      <h1 class="title has-text-centered">
        {{title}}
      </h1>
      <p class="has-text-centered">
        {{testText}}
      </p>

      <div class="field ">

        <input #typed class="input" type="text" (input)="markAnswer(typed.value)" placeholder="Your Entry">

      </div>
      <div class="box has-text-centered" [ngStyle] ="{'background-color':'black'}">
        <h2 class='title success' [style.display]="isSame ? 'block' : 'none'">Success</h2>
        <div [style.display]="isSame ? 'none': 'block'"><span
          [style.color]="l === testText[i] ? 'green' : 'red'"
          *ngFor="let l of answerText.split(''); let i = index;">{{l}}</span></div>
      </div>
    </div>
  </div>
</div>
